body,
.card {
    background-color: rgba(0, 119, 255, 0.582);
}

.container,
.d-flex,
p {
    padding-top: 3%;
}

#formulario {
    padding-top: 2%;
}

footer {
    text-align: center;
}

#img1,
.card-img-top {
    padding-top: 2%;
    border-radius: 100%;
    padding-bottom: 5%;
}

h2 {
    padding-top: 3%;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#historia,
p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: justify;
}